<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace命名空间，为了对sql语句进行隔离，方便管理 ，mapper开发dao方式，使用namespace有特殊作用 -->
<mapper namespace="com.etc.ticket.dao.PriceDao">
<!-- 在mapper.xml文件中配置很多的sql语句，执行每个sql语句时，封装为MappedStatement对象
mapper.xml以statement为单位管理sql语句
 -->
<select id="queryPriceBySessionId" resultType="price">
    select * from t_price where price_session=#{sessionid}
</select>


<select id="queryPriceBySessionIdAndPrice" resultType="price">
    select * from t_price where price_price=#{param1} and price_session=#{param2}
</select>
</mapper>

